<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{lib/inject}"></th:block>
    <title>Update Product</title>
</head>
<body>
<h1>Update Product</h1>
<form action="#" th:action="@{/product/update}" th:object="${product}" method="post">
    <input type="hidden" id="id" name="id" th:value="${product.id}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${product.name}" required>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="${product.description}" required>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:value="${product.price}" required>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" th:value="${product.quantity}" required>
    <label for="status">Status:</label>
    <input type="checkbox" id="status" name="status" th:checked="${product.status}">
    <label for="category">Category:</label>
    <select id="category" name="category.id" required>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                th:selected="${category.id == product.category.id}"></option>
    </select>
    <button type="submit">Update</button>
</form>
</body>
</html>