<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{lib/inject}"></th:block>
    <title>Update Category</title>
</head>
<body>
<h1>Update Category</h1>
<form action="#" th:action="@{/category/update}" th:object="${category}" method="post">
    <input type="hidden" id="id" name="id" th:value="${category.id}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${category.name}" required>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="${category.description}" required>
    <label for="status">Status:</label>
    <input type="checkbox" id="status" name="status" th:checked="${category.status}">
    <button type="submit">Update</button>
</form>
</body>
</html>